@import url(./variables.css);

/* поле ввода */
.input {
  height: 27px;
  position: relative;
  width: 100%;
  padding-bottom: 50px;

  &.error > .input__error {
    display: block;
  }

  & .input__field {
    border: 0;
    color: var(--color-black);
    font-size: var(--fs13);
    height: var(--fs13);
    line-height: var(--fs13);
    padding: 4px 0;
    width: 100%;
    font-family: "Inter", sans-serif;
    border-bottom: 1px solid var(--color-blue);

    &:focus ~ .input__placeholder,
    &:not(:placeholder-shown) ~ .input__placeholder {
      transform: translateY(-27px) scale(0.75);
    }
  }

  & .input__placeholder {
    color: var(--color-grey);
    left: 0;
    line-height: 14px;
    font-size: var(--fs13);
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 4px;
  }

  & .input__error {
    color: var(--color-red);
    font-size: var(--fs8);
    margin-top: 8px;
    display: none;
  }
}