@import url(./variables.css);

/* форма логина или регистрации */
.login {
  min-height: 460px;
  width: 340px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: var(--fs20);
    font-weight: 500;
  }

  &__fields {
    padding-top: 30px;
  }

  &__buttons {
    margin-top: auto;
    text-align: center;

    &-link {
      display: block;
      color: var(--color-blue);
      text-decoration: none;
      margin-top: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}