@import url(./variables.css);
@import url(./icon.css);
@import url(./input.css);
@import url(./button.css);
@import url(./login.css);
@import url(./error-page.css);
@import url(./chat.css);
@import url(./profile.css);

body {
  font-family: "Inter", sans-serif;
  background: var(--color-white);
  color: var(--color-black);
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
