{{!-- список чатов --}}

<li class="chat__list-user_chat-li">
  <div class="chat__list-user_chat-link">
    <div class="chat__list-user_chat-link_logo"></div>
    <div class="chat__list-user_chat-link_name">Aleksey</div>
    <div class="chat__list-user_chat-link_last-message">Lorem ipsum dolor sit amet consectetur adipisicing praesentium aut qui quos consequuntur est
      labore!</div>
    <div class="chat__list-user_chat-link_last-message-time">10:49</div>
    <div class="chat__list-user_chat-link_unread-messages">55</div>
  </div>
</li>
<li class="chat__list-user_chat-li">
  <div class="chat__list-user_chat-link active">
    <div
      class="chat__list-user_chat-link_logo"
      style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Shaki_Waterfall2.jpg/250px-Shaki_Waterfall2.jpg')"
    ></div>
    <div class="chat__list-user_chat-link_name">Aleksey</div>
    <div class="chat__list-user_chat-link_last-message">Lorem ipsum dolor sit amet consectetur adipisicing praesentium aut qui quos consequuntur est
      labore!</div>
    <div class="chat__list-user_chat-link_last-message-time">10:49</div>
    <div class="chat__list-user_chat-link_unread-messages">55</div>
  </div>
</li>