{{!-- Страница ошибки --}}

<div class="error-page">
  <div class="error-page__code">{{code}}</div>
  <div class="error-page__label">{{label}}</div>
  <a href="/" class="error-page__link">Назад к чатам</a>
</div>
