{{!-- Страница профиля пользователя --}}

<div class="profile">
  <a href="/" class="profile__back-link">
    {{ButtonMin "icon:back"}}
  </a>
  <div class="profile__content">
    <form name="profile">
      <div class="profile__content-logo">
        <em class="icon user-logo"></em>
      </div>
      <div class="profile__content-user_name"></div>
      <div class="profile__content-list">
        <div class="profile__content-list_field">
          Почта
          <span class="profile__email">pochta@yandex.ru</span></div>
        <div class="profile__content-list_field">
          Логин
          <span class="profile__login">ivanivanov</span></div>
        <div class="profile__content-list_field">
          Имя
          <span class="profile__name">Иван</span></div>
        <div class="profile__content-list_field">
          Фамилия
          <span class="profile__lastname">Иванов</span></div>
        <div class="profile__content-list_field">
          Имя в чате
          <span class="profile__displayname">Иван</span></div>
        <div class="profile__content-list_field">
          Телефон
          <span class="profile__phone">+7 (909) 967 30 30</span></div>
      </div>
      <div class="profile__content-list">
        <div class="profile__content-list_field change-user-data">Изменить данные</div>
        <div class="profile__content-list_field change-user-password">Изменить пароль</div>
        <div class="profile__content-list_field logout">Выйти</div>
      </div>
    </form>
  </div>
</div>